
* {
  box-sizing: border-box;
}
div.head{
	text-align: center;
	background: #333;
	width: 100%
}
.head_furniture-type{
	margin: 0px 0px 0px 0px;
}
.head_furniture-type ul a{
	text-decoration: none;
	color: white;
}
.head_furniture-type li{
	display: inline;
	padding-right: 20px;
	font-family: Arial;
	font-size: 3vw;
}
.head_furniture-type ul a:hover{
	color: #e3e3e3;
	text-decoration: underline;
}
.head_type ul a{
	font-size: 2vw;
	text-decoration: none;
	color: white;
}
.head_type li{
	display: inline;
	padding-right: 30px;
	font-family: Arial;
}
.head_type ul a:hover{
	color: #e3e3e3;
	text-decoration: underline;
}

/******************************************************************************************************/

.img{
	width: 830px;
	height: 500px;
	float: left;
	border: 3px solid black;
	position: relative;
	margin-top: 2px;
}
#back{
	position: absolute;
	left: 265px;
	width: 300px;
	height: 494px;
}
#door_1{
	width: 92px;
	height: 314px;
	position: absolute;
	top: 122px;
	left: 327px;
	border: 2px solid black;
}
#door_2{
	width: 92px;
	height: 314px;
	position: absolute;
	top: 122px;
	left:418px;
	border: 2px solid black;
}
#door_3{
	width: 183px;
	height: 28px;
	position: absolute;
	top: 436px;
	left: 327px;
	border: 2px solid black;
}
#handel1{
	padding-left: 0px;
	width: 0px;
	height: 50px;
	position: absolute;
	top: 250px;
	left: 408px;
	border: 1px solid black;
}
#handel2{
	padding-left: 0px;
	width: 0px;
	height: 50px;
	position: absolute;
	top: 250px;
	left: 428px;
	border: 1px solid black;
}


/*********************************************************************************************/

/*@media only screen and (min-width: 830px){
	.btun_leaft{height: 200px;}
	.btun_leaft{width: 830px;}
}*/
.btun_left{
	margin-top: 0px; 
	width: 450px;
	overflow: scroll;
	height: 500px;	
}
.btun_left h1{
	font-family: Arial;
	color: #333;
	padding-top: 10px;
	text-align: center;
	margin-bottom: 0px;
}
#a{
	width: 150px;
	height: 150px;
}
.btun_left div{
	width: 150px;
	height: 220px;
	background: white;
	margin-left: 20px;
	margin-top: 50px;
	text-align: center;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#lt{
	float:left;
}
#rt{
	float:right;
}

