* {
  box-sizing: border-box;
}
h1{
	margin: auto;
	text-align: center;
	font-family: monotype corsiva;
	font-size: 8vw;
	color:#333;
	text-shadow: 5px 5px 4px #888;
}
h2{
	text-align: center;
	font-family: Arial;
	font-size: 3vw;
	color:#222;
	text-shadow: 3px 5px 4px #888;
}

.head_furniture-type{
	background: #333;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 0px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 18px 0 rgba(0, 0, 0, 0.19);
	width:100%;
}

.navin{
	text-align: center;
	position: relative;
	width:100%;
}
.navin img{
	width: 100%;
	max-width:500px;
	height: auto;
}
.navin h3 a{
	position: absolute;
	left: 50%;
	top: 50%;
	font-family: Arial;
	text-decoration: none;
	transform: translate(-50%, -50%);
  	-ms-transform: translate(-50%, -50%);
 	background: rgb(0, 0, 0); /* Fallback color */
    	background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    	color: #f1f1f1;
  	font-size: 20px;
  	padding: 20px 100px;
 	border-radius: 5px;
  	text-align: center;
}
.navin h3 a:hover {
  background-color: black;
}
